.big-switcher
  font-size: 0
  overflow: hidden

  &.field
    padding: 0

  .big-switcher
    &__children
      display: inline-flex
      width: 50%
      font-size: 14px
      border none

      & + .big-switcher__children
        border-left: border1
