.field
  display: flex
  align-items: center
  border: 1px solid #d4
  {border-radius}
  padding: 0 14px
  font-size: 14px
  white-space: nowrap
  cursor: pointer
  background: #f

  &__wrapper
    width: 100%
    overflow: hidden

  &__placeholder
    display: inline-block
    padding-right: 5px
    color: #84

  &__value
    color: #3

  &__close
    display: inline-block
    width: 20px
    height: 20px
    fill: #c5

    &-wrapper
      width: 40px
      text-align: center

    &:hover
      fill: #3

