.result-search-item
  margin: 10px 0
  padding: 10px
  background-color: #e

  &__title
    font-size: 26px
    font-weight: 400
    color: color1

  &__sup
    font-size: .5em
    vertical-align: top
    
  &__price
    color: #3

  &__line
    padding: 5px 0