.range-slider
  font-size: 0

  &__wrapper
    padding: 8px 9px

  &__field
    position: relative
    height: 4px
    border-radius 2px
    background-color: color3

  &__range
    width: 50%
    height: 100%
    background-color: color2

  &__runner
    position: absolute
    top: 50%
    display: inline-block
    square(18px)
    border none
    border-radius 100%
    background-color: color2
    transform translate(-50%, -50%)

    &_left
      left: 0

    &_right
      right: 0


  &__marks
    padding-top: 4px
    font-size: 10px

  &__mark
    &_left
      float: left

    &_right
      float: right