.range-slider
  padding-top: 4px
  font-size: 0

  &__wrapper
    padding: 8px 9px

  &__field
    position: relative
    height: 4px
    border-radius 2px
    cursor: pointer
    background-color: color3

  &__range
    position: absolute
    width: 50%
    height: 100%
    background-color: color2

  &__runner
    position: absolute
    top: 50%
    display: inline-block
    square(18px)
    border none
    border-radius 100%
    outline: none
    background-color: color2
    transform translate(-50%, -50%)

    &:hover
    &:active
      box-shadow: 0 0 5px color4;

    &_left
      left: 0

    &_right
      left: 100%


  &__marks
    padding-top: 4px
    font-size: 10px
    overflow: hidden

  &__mark
    &_left
      float: left

    &_right
      float: right