.switcher
  display: flex
  align-items: center
  justify-content: center
  border: border1
  font-size: 14px
  cursor: pointer
  color: #3
  background-color: #f
  transition: color .3s,background .3s

  &_active
    color: #f
    background-color: color2




